<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Profile.css' %}">
    <link rel= "shortcut icon" href="logo.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="logo" src="{% static 'Images/Logo.png' %}"></a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
         </button>
       
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
       
                <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myprofile:profile' %}" id="fontnav">Home</a>
                       </li>
                   
                       <li class="nav-item">
                         <a class="nav-link" href="{% url 'myprofile:experience' %}" id="fontnav">Skills</a>
                        </li>
                   
                       <li class="nav-item">
                         <a class="nav-link" href="{% url 'myprofile:skills' %}" id="fontnav">Activities</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" href="{% url 'myprofile:contact' %}" id="fontnav">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'myprofile:quotes' %}" id="fontnav">Quotes</a>
          </ul>
         </div>
        </div>
       </nav>
    <div id="bg3">
        <img src="{% static 'Images/bhaski1.JPG' %}" alt="bhaski" id ="background3">
        <div class="col-xs-12" id="skillkanan">
            Business Planning <br> Java <br> Microsoft Office<br>
        </div>

        <div class="col-xs-12 col-md-6" id="skillkiri">                  
          Leadership <br> Project Management <br> Python
        </div>

        <div class="col-xs-12" id="skillbawah">
            HTML & CSS
        </div>

      </div>
</body>
