@import url('https://fonts.googleapis.com/css?family=montserrat:400,500,700');
*{
    margin:0;
    padding:0;
    width: 100%;

}


#logo{
    max-width: 20%;
}
#fontnav{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
.navbar{
    padding-right: 1rem;
}
.navbar-nav li{
    padding-right: 10%;
}
#fotoprofile{
    max-width:100%;
    padding: 0%;
    margin: 0%
}

#kotakkanan{
    background: #51657C;
    margin:0%;
    padding: 0%;
    height: expression(document.getElementById('fotoprofile').offsetHeight);
}
#kotakkiri{
    height: 100%;
    margin:0%;
    padding: 0%;
}
.navbar{
    background-color: white;
}
#kotak2{
    background: #2F4359;
}
#kotak3{
    background: #2F4359;
}
#kotak4{
    background: #2F4359;
}
#bg3{
    width: 100vw;
    height: 100vh;
}

#bg4{
    background: #EFEFEF;
}
#background3{
    position: relative;
    max-width: 100%;
}
#judul1{
    margin: 0%;
    padding-top: 15%;
    padding-left: 5%;
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
#judul2{
    margin: 0%;
    padding-left: 15%;
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
#judulbeda{
    color: #AFFAFF;
}
#informasi{
    margin: 0%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    font-family: montserrat;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 15px;
    color: white;
}
#kotak10 a:hover{
    color: orange;

}

#nama1{
    color: #AFFAFF;
    margin: 0%;
    padding-left: 15%;
    padding-top: 5%;
    font-size: 2.5vw;
    font-family: montserrat;
    font-style: normal;
    font-weight: 900;
    text-align: left;
}
#nama2{
    color: white;
    margin: 0%;
    padding-top: 5%;
    padding-left: 15%;
    font-size: 1.5vw;
    font-family: montserrat;
    font-style: normal;
    text-align: left;
}

#sekolahsd{
    color: white;
    margin: 0%;
    padding-top: 5%;
    padding-left: 25%;
    font-size: 1.5vw;
    font-family: montserrat;
    font-style: normal;
    text-align: left;
}
#sekolahsmp{
    color: white;
    margin: 0%;
    padding-top: 5%;
    padding-left: 15%;
    font-size: 1.5vw;
    font-family: montserrat;
    font-style: normal;
    text-align: left;
}
#sekolahsma{
    color: white;
    margin: 0%;
    padding-top: 5%;
    padding-left: 15%;
    font-size: 1.5vw;
    font-family: montserrat;
    font-style: normal;
    text-align: left;
}
#sekolahkuliah{
    color: white;
    margin: 0%;
    padding-left: 7%;
    font-size: 1.5vw;
    font-family: montserrat;
    font-style: normal;
    text-align: left;
}

#bg3{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#foto2{
    max-width: 80%;
}

#bg4{
    height: 85vh;
    width: 100vw;
}

#skillkiri{
    position: absolute;
    text-align: right;
    padding-top: 10%;
    font-family: montserrat;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 800;
    color: white;
    height: 240px;
}

#skillkanan{
    position: absolute;
    text-align: left;
    padding-top: 10%;
    padding-left: 55%;
    height: 240px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    color: white;
}

#skillbawah{
    position: absolute;
    text-align: center;
    padding-top: 25%;
    font-family: montserrat;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 800;
    color: white;
}

#pengalamankiri{
    text-align: right;
}

#tulisanactivities{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #283655;
}
#aktivitas1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #2F4359;

}
#aktivitas2{
    font-family: Montserrat;
    padding-top: 5%;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #2F4359;
}
#aktivitas3{
    font-family: Montserrat;
    padding-top: 5%;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #2F4359;
}

#aktivitas4{
    font-family: Montserrat;
    padding-left: 55%;
    margin-top: -22.5%;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: #2F4359;

}
#aktivitas5{
    padding-left: 55%;
    font-family: Montserrat;
    padding-top: 2.5%;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: #2F4359;
}
#aktivitas6{
    padding-left: 55%;
    font-family: Montserrat;
    padding-top: 2.5%;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: #2F4359;
}
#logoig{
    max-width: 3%;
    fill: white;
}
#logoline{
    max-width: 3%;
    fill: white;
}
#logofacebook{
    max-width: 3%;
    fill: white;
}
#logolinkedin{
    max-width: 3%;
    background: white;
}
#logoemail{
    max-width: 3%;
    fill: white;
}
#kotak7{
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;  
    font-size: 2vw;
}
#kotak8{
    background: #1E1F26;
    color: white;
}
#kotak9{
    background: #4D648D;
    color: white;
    font-family: montserrat;
}
#kotak10{
    background: #283655;
    color: white;
    font-family: montserrat;
}
#kotak11{
    background: #4D648D;
    color: white;
    font-family: montserrat;
}
#kotak12{
    background: #1E1F26;
    color: white;
    font-family: montserrat;
}
#kotakquotes{
    height: 100vh;
    margin-top: -1.7%;
    margin-left: -0.5%;
}
#bg10{
    max-width: 105%;
    position: relative;
}

#quotes{
    position: absolute;
    font-family: montserrat;
    text-align: center;
    font-weight: bold;
    font-size: 15vh;
    padding-bottom: 10%;
    bottom: 4vh;
    z-index: 20;
}



/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px ){
    #kotakkanan{
        height: 10rem;

    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
transition: -webkit-transform 0.5s ease;
transition: transform 0.5s ease;
transition: transform 0.5s ease, -webkit-transform 0.5s ease;
-webkit-backface-visibility: visible;
backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
position: relative;
width: 100%;
height: 60%;
margin: 0!important;
}
.fixed-wrap {
clip: rect(0, auto, auto, 0);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#fixed {
position: fixed;
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
background-position: center center;
-webkit-transform: translateZ(0);
        transform: translateZ(0);
will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}